
body {
    margin: 0;              
    background-color: #f2f2f2; 

    

    display: flex;            
    justify-content: center;  
    align-items: center;      
    min-height: 100vh;       
}


.card {
    background-color: white;  
    width: 100%;
    max-width: 400px;             
    padding: 50px 30px;       
    border-radius: 15px;     
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
    text-align: center;     
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;      
    color: #333;
}

p {
    margin: 5px 0;            
    color: #555;              
    font-size: 14px;
}

.interest {
    margin-bottom: 20px;      
    font-weight: 500;
}

.link {
    display: inline-block;    
    color: #2b70d6;          
    text-decoration: none;   
    font-weight: bold;
}

